.card__container {
  background-color: white;
  height: 280px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgb(245,247,250) 32%, white 0);
  text-align: center;
  box-shadow: 0px 0px 4px rgb(224, 224, 224);
}
.card__container__profile {
  width: 100%;
  height: 90px;
  border-bottom: 0.5px solid rgb(203, 213, 225);
  overflow: clip;
  padding: 0 85px;
}
.profile-img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 20px solid transparent;
  outline: 1px solid rgb(203, 213, 225);
}
.card__container__details {
  padding: 20px 15px 0;
}
.member__details {
  height: 115px;
  width: 100%;
  border-bottom: 0.5px solid rgb(203, 213, 225);
  gap: 8px;
}
.member__skills {
  margin-top: 12px;
}
.region__filter {
  gap: 20px;
}
.region__filter__name {
  height: 25px;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 12px;
  border: 1px solid rgb(203, 213, 225);
  margin-right: 5px;
  margin-bottom: 8px;
  background-color: rgb(248, 250, 252);
  color: rgb(108, 123, 145);
  cursor: pointer;
}
.list__card {
  width: 100%;
  height: 110px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(224, 224, 224);
  padding: 0 20px;
}
.gap-10 {
  gap: 10px;
}
.list__card__members {
  gap: 15px;
}
.profile-img-list {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.card__members__details {
  gap: 6px;
}
.members__details__name {
  font-weight: 600;
  font-size: 18px;
}
