.display__members__grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.display__members__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.display__loader {
  width: 100%;
}
.layout__membersSide__header {
  height: 90px;
  padding: 43px 45px 10px 45px;
  background-color: rgb(241, 245, 249);
  position: fixed;
}
.gap-7 {
  gap: 7px;
}
.gap-5 {
  gap: 5px;
}
.gap-20 {
  gap: 20px;
}
.membersSide__header__text {
  font-size: 30px;
}
.membersSide__header__number {
  font-size: 14px;
  color: rgb(109, 120, 139);
}
.membersSide__header__search {
  width: 340px;
  height: 40px;
  background-color: white;
  gap: 20px;
  padding: 0 12px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #0f172a29;
}
.search__input {
  border: none;
  outline: none;
  width: 320px;
}
.search__closeIcon--hidden {
  display: none;
}
.search__closeIcon--visible {
  display: block;
}
.membersSide__header__sort {
  margin-left: 10px;
}
.sort__text {
  gap: 7px;
  align-items: center;
}
.sort__order {
  width: 160px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #0f172a29;
  background-color: white;
  cursor: pointer;
}
.sort__order__by {
  width: 20px;
  height: 20px;
}
.sort__order p {
  font-size: 14px;
}
.sort__view {
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}
.sort__view__grid {
  width: 50%;
  height: 100%;
}
.sort__view__grid:hover {
  border-radius: 10px 0 0 10px;
  border: 2px solid rgb(131, 175, 246);
}
.sort__view__grid--active {
  background-color: rgb(219, 234, 254);
  border-radius: 10px 0 0 10px;
}
.sort__view__list {
  width: 50%;
  height: 100%;
}
.sort__view__list:hover {
  border-radius: 0 10px 10px 0;
  border: 2px solid rgb(131, 175, 246);
}
.sort__view__list--active {
  background-color: rgb(219, 234, 254);
  border-radius: 0 10px 10px 0;
}
.h-80 {
  height: 90px;
}
.sort__order--hidden {
  display: none;
}
.sort__order--visible {
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 8px;
}
.relative {
  position: relative;
}
.color__active {
  background-color: rgb(21, 111, 247);
  color: white;
  border-radius: 5px;
}
.h-40 {
  height: 40px;
  padding: 5px;
}
