.header {
  height: 80px;
  width: 100%;
  gap: 30px;
  padding: 0px 12px 0 48px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgb(224, 224, 224);
  position: fixed;
}
.header__left {
  gap: 50px;
  width: 900px;
}
.header__left__logo {
  height: 100%;
}
.app-logo {
  width: 155px;
  height: 100%;
}
.header__left__nav {
  width: 750px;
  gap: 28px;
}
.nav__option {
  gap: 8px;
  padding: 8px;
  font-size: 16.5px;
  color: #475569;
  cursor: pointer;
}
.nav__option__label {
  padding-top: 3px;
  white-space: nowrap;
}
#nav__option__label-member {
  color: black;
}
.header__right {
  gap: 15px;
}
.radius-25 {
  border-radius: 25px;
}
.p-10-40 {
  padding: 10px 40px;
}
.p-10-20 {
  padding: 10px 25px;
}
.radius-15 {
  border-radius: 25px;
}
.header__right__button {
  height: 40px;
  white-space: nowrap;
  background: linear-gradient(135deg, rgb(66, 136, 246), rgb(68, 209, 190));
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
}
.header__right__button:hover{
  outline: 2px solid rgb(131, 175, 246);
}
