.sidebar {
  background-color: #ffffff;
  width: 300px;
  height: calc(100vh - 80px);
  position: fixed;
  z-index: 3;
}
.sidebar__header {
  height: 60px;
  border-bottom: 0.5px solid rgb(203, 213, 225);
  box-shadow: 0px 0px 4px rgb(224, 224, 224);
  gap: 10px;
}
.sidebar__header__text {
  font-weight: 550;
}
.sidebar__header__text--clearFilter {
  font-size: 14px;
  color: rgb(21, 111, 248);
  cursor: pointer;
}
.sidebar__filter {
  padding: 20px 30px;
  gap: 20px;
  overflow-y: scroll;
  height: calc(100dvh - 140px);
}
.sidebar__filter__bymember {
  height: 160px;
  width: 100%;
  border-bottom: 0.5px solid rgb(203, 213, 225);
}
.sidebar__filter__byregion {
  height: 140px;
  width: 100%;
  gap: 16px;
  border-bottom: 0.5px solid rgb(203, 213, 225);
}
.sidebar__filter__bycountries {
  position: relative;
  width: 100%;
  gap: 16px;
  border-bottom: 0.5px solid rgb(203, 213, 225);
}
.filter__bymember__option {
  font-size: 14.5px;
  color: rgb(71, 85, 105);
  margin-bottom: 16px;
}
.region-text {
  font-size: 14px;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(203, 213, 225);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(203, 213, 225);
  border-radius: 10px;
}
.filter__bysearch {
  width: 100%;
  border: 1px solid #e5e7eb;
  height: 40px;
  border-radius: 10px;
  padding: 0 15px;
  gap: 10px;
}
.search_input {
  border: none;
  outline: none;
}
.search_icon {
  width: 17px;
  height: 17px;
}
.gap-5 {
  gap: 8px;
  margin-bottom: 20px;
}
.region-hidden {
  font-size: 12px;
  font-weight: 600;
  gap: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.region-count {
  height: 25px;
  width: 32px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid #f1f5f9;
  background-color: #f1f5f9;
}
