.main__layout {
  width: 100%;
  margin-top: 80px;
  overflow-y: hidden;
  display: flex;
}
.main__layout__membersSide {
  gap: 20px;
  margin-left: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
